.result-face {
    max-width: 130px;
    max-height: 130px;
    width: 100%;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.index-face {
    max-width: 200px;
    max-height: 200px;
    width: 110%;
}

details {
    transition: height 1s ease;
    overflow: hidden;
}

details:not([open]) {
    height: auto;
}

details[open] {
    height: auto;
}

details > summary::-webkit-details-marker {
    display: none;
}

pre {
    display: inline-block;
    margin: 0;
}

.zoom {
    transition: transform 0.5s;
}

.zoom:hover {
    transform: scale(1.1);
}

.overlay-container {
  position: relative;
  width: 110%;
}

.face-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.overlay-container:hover .overlay {
  opacity: 0.6;
}

.face-name {
  color: white;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}