{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Display actor image</title>
    <link rel="stylesheet" href="{% static 'css/display_image.css' %}">
</head>
<body>
    <p><img src="{{ actor.image.url }}" alt="Image"> <img src="{{ detected_image }}" alt="Image"></p>
    <hr>
    {% for face, result in zipped_result %}
        <p><img class="face" src="{{ face|join:"" }}" alt="Face"></p>
        <p>
            {% for name, percentage in result  %}
                {% if forloop.counter == 1 %}
                    <h2>{{ name }}: {{ percentage }}%</h2>
                {% else %}
                    {{ name }}: {{ percentage }}%<br>
                {% endif %}
            {% endfor %}
        </p>
        <hr/>
    {% endfor %}
    <a href="{% url 'face_recognition:index' %}">Back</a>
</body>
</html>